<section id="clientRegistration">
  <h2>Formulário de Cadastro</h2>
  <div class="form-content content">
    <form action="" id="registerClient">
      <div class="form-item">
        <label for="clientName">Nome do Cliente: </label>
        <input type="text" name="name" id="clientName" [(ngModel)] = "formdata.name">
      </div>
      <div class="form-item">
        <label for="clientCPF">CPF do Cliente: </label>
        <input type="number" name="cpf" id="clientCPF" [(ngModel)] = "formdata.cpf">
      </div>
      <div class="form-item">
        <label for="clientBirthday">Data de Nascimento: </label>
        <input type="date" name="birthday" id="clientBirthday" [(ngModel)] = "formdata.birthday">
      </div>
      <div class="form-item">
        <label for="clientIncome">Renda Mensal: </label>
        <input type="number" name="income" id="clientIncome" [(ngModel)] = "formdata.income">
      </div>
      <div class="form-item">
        <label for="clientEmail">E-mail: </label>
        <input type="email" name="email" id="clientEmail" [(ngModel)] = "formdata.email">
      </div>
      <div class="form-item">
        <label for="clientRegistered">Data de Cadastro: </label>
        <input type="text" name="registered" id="clientRegistered" [(ngModel)] = "formdata.registered">
      </div>
      <div class="form-item">
        <button class="save-data" (click)="create()"><label>Salvar dados</label></button>
      </div>
    </form>
  </div>
</section>