<div class="container">
  <table>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Data de Nascimento</th>
        <th scope="col">Renda Mensal</th>
        <th scope="col">E-mail</th>
        <th scope="col">Data de Cadastro</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of allClients">
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.name }}</td>
        <td>{{ item.cpf }}</td>
        <td>{{ item.birthday }}</td>
        <td>{{ item.income }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.registered }}</td>
        <td>
          <button [routerLink]="['/clients/edit', item.id]">Editar</button>
          <button (click)="deleteItem(item.id)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>