header {
  background-color: var(--color-brand-primary-dark);
  display: flex;
  align-items: center;
  width: 100%;
  height: 55px;
  margin: 0 auto 20px;
  position: relative;
  z-index: 1;
}

header .btn-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: 0 0 0 15px;
  padding: 0;
  cursor: pointer;
}
header .btn-menu:hover {
  background-color: transparent;
}

header .btn-menu .linha {
  width: 30px;
  height: 3px;
  background-color: var(--color-neutral-white);
  display: block;
  margin: 2px auto;
  position: relative;
  transform-origin: center;
  transition: .2s;
}

.btn-menu.ativar .linha:nth-child(1) {
  transform: translateY(36px) rotate(-45deg);
}
.btn-menu.ativar .linha:nth-child(2) {
  width: 0;
}
.btn-menu.ativar .linha:nth-child(2) {
  transform: translateY(36px) rotate(45deg);
}

header .header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.header-content .logo {
  background-color: var(--color-neutral-white);
  color: var(--color-brand-primary-dark);
  border: 2px solid var(--color-neutral-white);
  border-radius: 30% 0 30% 0;
  font-weight: 700;
  padding: 5px 10px 5px;
  height: 30px;
  justify-content: center;
}

.header-content .head-title {
  color: var(--color-neutral-white);
  justify-self: center;
  padding: 12px;
  text-transform: uppercase;
}
